# Running SQL in Jupyter notebook

In [3]:
#!pip install ipython-sql

In [21]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
# Command line option
# !PGPASSWORD=postgres createdb -h 127.0.0.1 -U postgres customers_db
# !PGPASSWORD=postgres psql -q -h 127.0.0.1 -U postgres -d test -f Data/schema.sql

In [6]:
# !PGPASSWORD=postgres psql -q -h 127.0.0.1 -U postgres -d customer_db -f Data/seed.sql

In [22]:
DB_ENDPOINT = "localhost"
DB = 'customer_db'
DB_USER = 'postgres'
DB_PASSWORD = 'Bismillah_0786'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://postgres:Bismillah_0786@localhost:5432/customer_db

In [23]:
%sql $conn_string

'Connected: postgres@customer_db'

In [24]:
import pandas as pd
from sqlalchemy import create_engine

# # EXTRACT

# Store CSV into DataFrame

In [26]:
csv_file = ".\Resources\customer_data.csv"
customer_data_df = pd.read_csv(csv_file)
customer_data_df

,id,first_name,last_name,email,gender,car
0,1,Benetta,Cancott,bcancott0@studiopress.com,Female,Scion
1,2,Lilyan,Cherry,lcherry1@deliciousdays.com,Female,Chrysler
2,3,Ezekiel,Benasik,ebenasik2@wikia.com,Male,Mercedes-Benz
3,4,Kennedy,Atlay,katlay3@so-net.ne.jp,Male,Buick
4,5,Sanford,Salmen,ssalmen4@reuters.com,Male,Lincoln
...,...,...,...,...,...,...
995,996,Clare,Freshwater,cfreshwaterrn@fema.gov,Female,Nissan
996,997,Viole,Letrange,vletrangero@hao123.com,Female,Chevrolet
997,998,Tim,Colvill,tcolvillrp@storify.com,Female,GMC
998,999,Benny,Wafer,bwaferrq@tinypic.com,Female,Citroën
999,1000,Addia,Sedgebeer,asedgebeerrr@gov.uk,Female,Lexus

# Create new data with select columns

In [28]:
new_customer_data_df = customer_data_df[['id', 'first_name', 'last_name']].copy()
new_customer_data_df

       id first_name   last_name
0       1    Benetta     Cancott
1       2     Lilyan      Cherry
2       3    Ezekiel     Benasik
3       4    Kennedy       Atlay
4       5    Sanford      Salmen
..    ...        ...         ...
995   996      Clare  Freshwater
996   997      Viole    Letrange
997   998        Tim     Colvill
998   999      Benny       Wafer
999  1000      Addia   Sedgebeer

[1000 rows x 3 columns]

In [29]:
json_file = "./Resources/customer_location.json"
customer_location_df = pd.read_json(json_file)
customer_location_df

       id                address  longitude  latitude    us_state
0       1  043 Mockingbird Place   -86.5186   39.1682     Indiana
1       2       4 Prentice Point   -85.0707   41.0938     Indiana
2       3      46 Derek Junction   -96.7776   32.7673       Texas
3       4  11966 Old Shore Place   -94.3567   39.0350    Missouri
4       5     5 Evergreen Circle   -73.9772   40.7808    New York
..    ...                    ...        ...       ...         ...
995   996    6546 Waxwing Circle   -86.9292   33.5446     Alabama
996   997    604 Parkside Street  -111.6627   40.7286        Utah
997   998  44 Northwestern Court   -74.2452   40.7918  New Jersey
998   999       33 Bunting Point  -119.8225   39.5387      Nevada
999  1000    8389 Sommers Street  -122.3748   45.5806      Oregon

[1000 rows x 5 columns]

# Clean DataFrame

In [30]:
new_customer_location_df = customer_location_df[["id", "address", "us_state"]].copy()
new_customer_location_df

       id                address    us_state
0       1  043 Mockingbird Place     Indiana
1       2       4 Prentice Point     Indiana
2       3      46 Derek Junction       Texas
3       4  11966 Old Shore Place    Missouri
4       5     5 Evergreen Circle    New York
..    ...                    ...         ...
995   996    6546 Waxwing Circle     Alabama
996   997    604 Parkside Street        Utah
997   998  44 Northwestern Court  New Jersey
998   999       33 Bunting Point      Nevada
999  1000    8389 Sommers Street      Oregon

[1000 rows x 3 columns]

# Connect to local database

In [ ]:
# !pip install psycopg2

In [31]:
rds_connection_string = "postgres:Bismillah_0786@localhost:5432/customer_db"

engine = create_engine(f'postgresql://{rds_connection_string}')

# Check for tables

In [32]:
engine.table_names()

['customer_name', 'customer_location']

# Use pandas to load csv converted DataFrame into database

In [37]:
new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "customer_name_pkey"
DETAIL:  Key (id)=(1) already exists.

[SQL: INSERT INTO customer_name (id, first_name, last_name) VALUES (%(id)s, %(first_name)s, %(last_name)s)]
[parameters: ({'id': 1, 'first_name': 'Benetta', 'last_name': 'Cancott'}, {'id': 2, 'first_name': 'Lilyan', 'last_name': 'Cherry'}, {'id': 3, 'first_name': 'Ezekiel', 'last_name': 'Benasik'}, {'id': 4, 'first_name': 'Kennedy', 'last_name': 'Atlay'}, {'id': 5, 'first_name': 'Sanford', 'last_name': 'Salmen'}, {'id': 6, 'first_name': 'Ricki', 'last_name': 'Sheach'}, {'id': 7, 'first_name': 'Haroun', 'last_name': 'Cockitt'}, {'id': 8, 'first_name': 'Tuesday', 'last_name': 'Bortolozzi'}  ... displaying 10 of 1000 total bound parameter sets ...  {'id': 999, 'first_name': 'Benny', 'last_name': 'Wafer'}, {'id': 1000, 'first_name': 'Addia', 'last_name': 'Sedgebeer'})]
(Background on this error at: http://sqlalche.me/e/gkpj)

# Use pandas to load json converted DataFrame into database

In [38]:
new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "customer_location_pkey"
DETAIL:  Key (id)=(1) already exists.

[SQL: INSERT INTO customer_location (id, address, us_state) VALUES (%(id)s, %(address)s, %(us_state)s)]
[parameters: ({'id': 1, 'address': '043 Mockingbird Place', 'us_state': 'Indiana'}, {'id': 2, 'address': '4 Prentice Point', 'us_state': 'Indiana'}, {'id': 3, 'address': '46 Derek Junction', 'us_state': 'Texas'}, {'id': 4, 'address': '11966 Old Shore Place', 'us_state': 'Missouri'}, {'id': 5, 'address': '5 Evergreen Circle', 'us_state': 'New York'}, {'id': 6, 'address': '5304 Vidon Drive', 'us_state': 'Texas'}, {'id': 7, 'address': '65 Texas Avenue', 'us_state': 'Ohio'}, {'id': 8, 'address': '041 Eagle Crest Court', 'us_state': 'Texas'}  ... displaying 10 of 1000 total bound parameter sets ...  {'id': 999, 'address': '33 Bunting Point', 'us_state': 'Nevada'}, {'id': 1000, 'address': '8389 Sommers Street', 'us_state': 'Oregon'})]
(Background on this error at: http://sqlalche.me/e/gkpj)

# Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [41]:
pd.read_sql_query('select * from customer_name', con=engine)

       id first_name   last_name
0       1    Benetta     Cancott
1       2     Lilyan      Cherry
2       3    Ezekiel     Benasik
3       4    Kennedy       Atlay
4       5    Sanford      Salmen
..    ...        ...         ...
995   996      Clare  Freshwater
996   997      Viole    Letrange
997   998        Tim     Colvill
998   999      Benny       Wafer
999  1000      Addia   Sedgebeer

[1000 rows x 3 columns]

# Confirm data has been added by querying the customer_location table

In [42]:
pd.read_sql_query('select * from customer_location', con=engine)

       id                address    us_state
0       1  043 Mockingbird Place     Indiana
1       2       4 Prentice Point     Indiana
2       3      46 Derek Junction       Texas
3       4  11966 Old Shore Place    Missouri
4       5     5 Evergreen Circle    New York
..    ...                    ...         ...
995   996    6546 Waxwing Circle     Alabama
996   997    604 Parkside Street        Utah
997   998  44 Northwestern Court  New Jersey
998   999       33 Bunting Point      Nevada
999  1000    8389 Sommers Street      Oregon

[1000 rows x 3 columns]